
@font-face {
    font-family: EthosNova-Regular;
    src: url("./Fonts/EthosNova-Regular.otf");
}

@font-face {
	font-family: EthosNova-Heavy;
	src: url("./Fonts/EthosNova-Heavy.otf");
}

html {
	scroll-behavior: smooth;
}

body {
	background: White;
    font-family: EthosNova-Regular;
    margin: 0;
    padding: 0;
	}

h1 {
	font-family: EthosNova-Regular;
	font-size: 60px;

}

h2 {
	font-family: EthosNova-Regular;
	font-size: 22px;
}

p {
	font-size: 18px;
}


/* ALL RESOLUTIONS */
@media only screen and (min-width: 100px) and (max-width: 4000px) {

/* HEADER SUBNAV WITH DROPDOWN */

header {
	margin: 0 auto;
}

#logomobile {
	display: none;
}

#menu {
	background: white;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 80px;
	position: fixed;
	z-index: 1000;
}

#logo {
	background-image: url("./Images/logohorizontal.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: auto;
}

#logo img {
	width: 30%;
    height: 80px;
}

nav {
	width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul {
	padding: 0;
  	margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	transition: all 0.25s ease;
	}

nav a {
	display: flex;
    align-items: center;
	height: 50px;
	padding: 10px 30px;
	color: #211414;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	text-decoration:none;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display: flex;
    flex-direction: column;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	background: white;
	width: 100%;
	height: 80px;
	float:none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}



.dropdown {
	display: none;
}

/* HEADER SUBNAV WITH DROPDOWN */

/* BANNER HOME */

.banner {
	background-image: url(./Images/Banner1D.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.banner #titlehome {
	color: #22450A;
	margin: 0;
	display: flex;
	line-height: 90px;
}

.banner #titlehome {
    color: #FF7077;
    width: 30%;
    height: 80%;
    margin: 120px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #F6FAC5;
	}

#titlehome h1 {
	line-height: 60px;
}

#titlehome p {
	font-size: 20px;
    line-height: 30px;
    margin: 50px;
	color: #211414;
}

.banner #ativo {
	width: 100%;
	height: 20%;
	background-image: url("./Ativos/Ativo1.png");
	background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* BANNER HOME */



.grid {
	height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(29, 110px);
    gap: 0;
    row-gap: 8px;
}

/* OUR SERVICES */

#ourservice {
	width: 100%;
	line-height: 32px;
    direction: ltr;
	grid-column: 2 / 5;
	grid-row: 1 / 2;
}

#ourservice h1, #ourservice h2 {
	color: #22450A;
}

#ourservice h2 {
	font-weight: 100;
}

/* OUR SERVICES */


/* TANK SERVICES */

#tankimg {
	width: 680px;
    height: 700px;
	grid-column: 2 / 6;
    grid-row: 4 / 9;
	background-image: url(./Images/img2D.png);
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	
}

#tanktext {
	height: 350px;
    width: 100%;
    grid-column: 6 / 11;
	grid-row: 4 / 9;
    color: #22450A;
    border-bottom: solid 5px #FF7077;
	border-radius: 2px;
}

#tanktext h1 {
	font-family: EthosNova-Heavy;
	}

#tanktext p {
margin-left: 40px;
}

#tanktext p::before {
	display: inline-flex;
	content: "";
	background-image: url("./Ativos/Bullet01.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin-top: 0;
	padding-right: 10px;
	vertical-align: -8px;
}

/* TANK SERVICES */




/* TRANSPORTATION */

#transpoborder {
	border-left: solid 5px #FF7077;
	border-radius: 2px;
	grid-column: 2 / 2;
	grid-row: 11 / 19;

}

#box {
	background-color: #FF7077;
    width: 800px;
    height: 680px;
	grid-column: 3 / 5;
	grid-row: 11 / 17;
    position: relative;
    z-index: 10;
}

#transpotext {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

#transpotext h1 {
	font-family: EthosNova-Heavy;
	color: #56352C;
	text-align: left;
}

#transpotext p {
	color: white;
	height: 20px;
}

#transpotext p::before {
	display: inline-flex;
	content: "";
	background-image: url("./Ativos/Bullet02.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin-top: 0;
	padding-right: 10px;
	vertical-align: -8px;
}

#transpoimg {
	height: 1080px;
    width: 850px;
	grid-column: 6 / 10;
	grid-row: 10 / 20;
    position: relative;
    z-index: 9;
	margin-top: 25px;
	background-image: url("./Images/img3M.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* TRANSPORTATION */

#aligngreen {
	height: 350px;
	width: 100%;
	grid-column: 1 / 11;
    grid-row: 18 / 21;
	position: relative;
    z-index: 8;
	display: flex;
	justify-content: center;
}

#greenback {
	background-image: url(./Ativos/Ativo4.png);
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 350px;
    
}

/* WASTE MANAGEMENT */

#wasteimg {
	width: 680px;
    height: 860px;
    background-image: url(./Images/img4D.png);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	grid-column: 2 / 4;
    grid-row: 19 / 27;
    position: relative;
    z-index: 9;
    margin-top: 45px;
}

#wastetext {
	width: 100%;
    height: 100%;
    grid-column: 6 / 11;
    grid-row: 22 / 26;
    border-bottom: solid 5px #FF7077;
    border-radius: 2px;
	margin-top: 85px;
}

#wastetext h1 {
	width: 80%;
	font-family: EthosNova-Heavy;
	color: #22450A;
}

#wastetext p {
	color: #22450A;
	margin-left: 10vh;
	height: 30px;
}

#wastetext p::before {
	display: inline-flex;
	content: "";
	background-image: url("./Ativos/Bullet01.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin-top: 0;
	padding-right: 10px;
	vertical-align: -8px;
}


/* WASTE MANAGEMENT */

/* BANNER */

#banner {
	width: 100%;
    height: 300px;
    background-image: url(./Images/Banner1D.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	grid-column: 1 / 11;
	grid-row: 27 / 28;
    margin-top: 50px;
}

/* FORM */

.contact {
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	background-color: #FF7077;
    height: 60vh;
}

#form {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, 16.6%);
	gap: 20px;
}

#title {
	height: 100%;
    width: 100%;
	grid-column: 2 / 4;
    grid-row: 1;
    margin-bottom: -40px;
	color: #56352C;
}

#fname {
	height: 60px;
	grid-column: 2 / 3;
    grid-row: 2 / 2;
	background-color: transparent;
    border: 2px solid #F6FAC5;
}

#lname {
	height: 60px;
	grid-column: 3 / 4;
    grid-row: 2 / 2;
	background-color: transparent;
    border: 2px solid #F6FAC5;
}

#email {
	height: 60px;
	grid-column: 2 / 4;
    grid-row: 3 / 3;
	background-color: transparent;
	border: 2px solid #F6FAC5;
}

#phone {
	height: 60px;
	grid-column: 2 / 4;
    grid-row: 4 / 4;
	background-color: transparent;
	border: 2px solid #F6FAC5;
}

#textarea {
	width: 100%;
	grid-column: 4 / 6;
    grid-row: 2 / 5;
	background-color: transparent;
	border: 2px solid #F6FAC5;
	padding-top: 20px;
}

#btn {
	grid-column: 5 / 5;
	grid-row: 5 / 5;
	background-color: transparent;
	border: 2px solid #F6FAC5;
	height: 40px;
	width: 100%;
	margin-left: 9px;
}

::placeholder {
	padding-left: 30px;
}

::placeholder, #btn {
	font-family: EthosNova-Regular;
	color: #F6FAC5;
}

/* FOOTER */

footer {
	display: grid;
	grid-template-columns: repeat(3, 33%);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
	height: 20vh;
	background-color: #F6FAC5;
}

#flogo {
	background-image: url("./Images/logohorizontal.svg");
	background-size: 250px 150px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#infolocation, #infotext {
	font-family: EthosNova-regular;
	text-align: center;
	color: #22450A;
}

#infolocation h2 {
	font-size: 22px;
}

#infotext h2 {
	font-family: EthosNova-heavy;
}


/* FOOTER */

/* PAGE THANKS */
.tnks {
	background-image: url(./Ativos/Ativo4.png);
    background-size: cover;
	background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
	height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#tnkstext {
	height: 50%;
	width: 50%;
	background-color: #FF7077;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #22450A;
}

#tnkstext {
	text-decoration: none;
    color: #22450A;
}
/* PAGE THANKS */

/* ALL RESOLUTIONS */

}

/* TELA 2K */

@media only screen and (min-width:2000px) and (max-width: 3000px) {
	.banner #titlehome {
		justify-content: center;
	}
}

/* TELA 2K */

/* NOTEBOOKS */

@media only screen and (min-width:1100px) and (max-width: 1900px) {
	
	/* BANNER */

	.banner {
        height: 110vh;
    }

	#titlehome h1 {
        line-height: 50px;
        font-size: 50px;
    }

	#titlehome p {
        font-size: 18px;
        line-height: 23px;
    }

	/* BANNER */

	/* GRID */
	.grid {
        grid-template-rows: repeat(24, 110px);
    }
	/* GRID */
	/* TANK SERVICES */

	#tankimg {
        width: 480px;
        height: 500px;
    }

	/* TANK SERVICES */

	/* TRANSPORTATION */

	#box {
        width: 580px;
        height: 600px;
		grid-row: 9 / 17;
    }

	#transpotext h1 {
        font-size: 50px;
        line-height: 50px;
    }

	#transpotext p {
		font-size: 17px;
        line-height: 23px;
	}

	#transpoimg {
        height: 900px;
        width: 600px;
        grid-row: 8 / 18;
        margin-top: 50px;
    }

	#transpoborder {
        grid-row: 9 / 16;
    }

	/* TRANSPORTATION */

	/* ALIGN GREEN */
    #aligngreen {
        height: 350px;
        width: 100%;
		grid-column: 1 / 11;
        grid-row: 15 / 21;
    }

	#greenback {
		height: 250px;
	}

	/* ALIGN GREEN */

	/* WASTE MANAGEMENT */

	#wasteimg {
        width: 480px;
        height: 600px;
        grid-column: 2 / 4;
        grid-row: 16 / 19;
        margin-top: 15px;
    }

	#wastetext {
        height: 85%;
        margin-top: 0;
		grid-row: 17 / 22;
    }

	#wastetext h1 {
        width: 90%;
    }

	/* WASTE MANAGEMENT */

	/* BANNER */

	#banner {
        grid-row: 22 / 24;
    }

	/* FORM */

	.contact {
        height: 65vh;
		justify-content: flex-start;
    }

}

/* NOTEBOOKS */

/* NOTEBOOK SMALL */
@media only screen and (min-width:1100px) and (max-width:1200px) {
	#titlehome h1 {
        line-height: 40px;
        font-size: 45px;
    }

	.grid {
        grid-template-rows: repeat(23, 110px);
    }

	#ourservice {
        width: 100%;
        grid-column: 2 / 6;
    }

	#ourservice h1 {
		font-size: 50px;
	}

	/* TANK SERVICES */
	#tankimg {
        width: 100%;
        height: 100%;
        grid-row: 4 / 8;
        grid-column: 2 / 6;
    }

	#tanktext {
        height: 100%;
        width: 100%;
        grid-column: 7 / 11;
        grid-row: 4 / 7;
    }

	#tanktext h1 {
        font-size: 50px;
    }

	#tanktext p {
        margin-left: 0px;
    }
	/* TANK SERVICES */

	/* TRANSPORTATION */
	#transpoborder {
        grid-row: 9 / 16;
    }

	#box {
        width: 100%;
        height: 100%;
        grid-row: 9 / 14;
        grid-column: 3 / 7;
    }

	#transpotext h1 {
        font-size: 40px;
        line-height: 50px;
    }

	#transpotext p {
        font-size: 15px;
        line-height: 23px;
    }

	#transpoimg {
        height: 100%;
        width: 100%;
        grid-row: 8 / 15;
        margin-top: 50px;
        margin-left: 0px;
    }

	/* TRANSPORTATION */

	#aligngreen {
        height: 350px;
        width: 100%;
        grid-column: 1 / 11;
        grid-row: 15 / 20;
        margin-top: -40px;
    }

	/* WASTE MANAGEMENT */

	

	#wasteimg {
        width: 100%;
        height: 100%;
        grid-column: 2 / 6;
        grid-row: 16 / 21;
        margin-top: 0;
    }

	#wastetext {
        height: 100%;
        margin-top: 0;
		grid-column: 7 / 11;
        grid-row: 17 / 21;
        margin-left: 0;
    }

	#wastetext h1 {
        width: 100%;
        font-size: 45px;
    }

	#wastetext p {
        margin-left: 0;
        height: 20px;
    }

	#alignwaste {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	/* WASTE MANAGEMENT */

	#banner {
        grid-row: 21 / 24;
    }
	/* NOTEBOOK SMALL */
}

/* MENU MOBILE VARIANTS HEIGHT */
@media only screen and (min-height:100px) and (max-height:680px) {
	.show {
        margin-top: 70vh !important;
    }
}

@media only screen and (min-height:680px) and (max-height:1080px) {
	.show {
        margin-top: 55vh !important;
    }
}
/* MENU MOBILE VARIANTS HEIGHT */

/* IPAD AND TABLET */
@media only screen and (min-width:600px) and (max-width:1080px) and (max-height: 1200px) {
	.show {
		margin-top: 48vh !important;
	}
	
	.banner #titlehome {
        width: 50% !important;
        height: 50% !important;
    }

	#titlehome h1 {
        font-size: 55px !important;
        line-height: 45px !important;
    }


	.grid {
        grid-template-rows: repeat(14, 250px);
    }

	#ourservice {
        grid-row: 1 / 2;
    }


	#ourservice h1 {
		font-size: 55px !important;
	}

	#ourservice h2 {
		font-size: 23px !important;
	}

	#tanktext {
        grid-row: 2 / 4;
    }

	#tankimg {
        grid-row: 4 / 6;
    }

	#tanktext h1 {
		font-size: 55px !important;
	}

	#tanktext p {
		font-size: 23px !important;
	}

	#box {
        grid-row: 6 / 8;
    }

	#transpoimg {
        grid-row: 8 / 10;
    }

	#wastetext {
        grid-row: 10 / 12;
        height: 100% !important;
    }

	#wasteimg {
        grid-row: 12 / 14;
    }
}

/* IPAD AND TABLET */
@media only screen and (min-width:800px) and (max-width:1100px) and (max-height: 1366px) {
	#logomobile img {
        width: 35% !important;
    }
	
	.show {
		margin-top: 58vh !important;
	}

	.banner #titlehome {
        width: 40% !important;
        height: 50% !important;
        margin: 0 0 40px 16px !important;
    }

	#titlehome h1 {
        font-size: 50px !important;
        line-height: 45px !important;
    }

	#titlehome p {
        font-size: 20px !important;
        line-height: 20px !important;
    }

	#ourservice h1 {
        font-size: 50px !important;
        line-height: 40px !important;
    }

	#ourservice h2 {
        font-size: 25px !important;
    }


	#aligntank h1 {
		font-size: 50px !important;
        line-height: 40px !important;
	}

	#aligntank p {
		font-size: 25px !important;
	}

    #transpotext h1 {
        font-size: 50px !important;
        line-height: 40px !important;
    }

	#transpotext p {
		font-size: 25px !important;
	}

	#aligntranspo {
        justify-content: flex-start !important;
    }

	#alignwaste h1 {
        font-size: 50px !important;
        line-height: 40px !important;
    }

	#alignwaste p {
		font-size: 20px !important;
		margin-left: 0px;
		width: 95% !important;
	}
}


/* IPAD AND TABLET */




/* ---------------------------------- MOBILE ALL ------------------------------------------*/
@media only screen and (min-width:100px) and (max-width: 1100px) and (max-height: 1366px) {
	
	/* MENU MOBILE */
	
	.menu {
		height: 70px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: fixed;
        background: white;
        z-index: 1000;
	}

	#logomobile {
		display: block;
		width: 90%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		direction: ltr;
	}

	#logomobile a {
		text-align: center;
		align-content: center;
	}

	#logomobile img {
		width: 50%;
		height: auto;
	}
	  
	  #main-menu {
		display: none;
	}

	.dropbtn {
	  color: white;
	  padding: 22px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	  position: relative;
	  z-index: 1;
	  background: transparent;
	  margin-right: 10px;
	  margin-top: 0px;
      direction: rtl;
	}

	
	embed {
	  height: 25px;
      width: 25px;
	  position: relative;
	  z-index: -1;
	}
	
	.dropdown {
	  position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  width: 100%;
	  height: 100%;
	  
	}
	
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: white;
	  min-width: max-content;
	  z-index: 1;
	}
	
	.dropdown-content a {
	  color: #56352C;
	  padding: 30px 45px;
	  text-decoration: none;
	  display: block;
	  font-size: 20px;
	  border: #383C4B;
	  font-family: 'EthosNova-Regular';
      font-weight: bold;

	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	.show {
	  display:block;
	  text-align: center;
	  width: 100%;
      margin: 0px;
	}

	.ulmobile {
		list-style-type: none;
		width: 100%;
        margin: 0;
        padding: 0;
	}

	#menu {
		display: none;
	}

	/* MENU MOBILE */

	#align {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
        align-items: end;
	}


	 /* BANNER */

	.banner {
		background-image: url(./Images/Banner1M.png);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
	}

	.banner #titlehome {
		width: 75%;
        height: 500px;
        align-items: center;
        justify-content: flex-end;
		margin: 0 0 0 16px;
        padding: 30px;
	}

	#titlehome h1 {
		padding: 0px;
        font-size: 40px;
        line-height: 35px;
		width: 100%;
	}

	#titlehome p {
		font-size: 16px;
		line-height: 20px;
		margin: 30px;
		color: #211414;
		width: 100%;
	}

	.banner #ativo {
    	background-size: contain;
    	background-repeat: no-repeat;
    	height: 7%;
	}

	 /* BANNER */

 	 /* TANK SERVICES */

	.grid {
		height: auto;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(14, 200px);
		gap: 0px;
		row-gap: 0px;
	}

	/* OUR SERVICES */

	#ourservice {
        width: 100%;
        height: 100%;
        line-height: 25px;
        direction: ltr;
        grid-column: 1 / 1;
		grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
		margin-top: 30px;
    }

	#ourservice h1 {
		font-size: 45px;
        width: 90%;
        line-height: 30px;
	}

	#ourservice h2 {
		font-size: 15px;
    	width: 90%;
	}

	/* OUR SERVICES */
	
	#tankimg {
		width: 100%;
        height: 100%;
        grid-column: 1;
		grid-row: 4 / 6;
		margin-top: 0;
		margin-left: 0px;
		border-top: solid 5px #FF7077;
        border-radius: 2px;
		background-image: url(./Images/img2M.png);
        background-size: cover;
        background-position: center;
		background-repeat: no-repeat;
	}

	#aligntank {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 100%;
        line-height: 30px;
	}

	#tanktext {
        width: 100%;
        height: 100%;
        grid-column: 1 / 1;
        grid-row: 2 / 4;
        border: none;
    }

	#tanktext h1 {
		font-size: 32px;
        width: 95%;
        margin-bottom: 30px;
	}

	#tanktext p {
		margin-left: 0;
        width: 95% !important;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
	}

	#tanktext p::before {
		display: inline-flex;
		content: "";
		background-image: url("./Ativos/Bullet01.svg");
		background-repeat: no-repeat;
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
		margin-top: 0;
		padding-right: 10px;
		vertical-align: -5px;
	}

	/* TANK SERVICES */

	/* TRANSPORTATION */

	#box {
        width: 100%;
        height: 100%;
        grid-column: 1;
		grid-row: 6 / 9;
        margin-top: 0;
    }

	#transpotext h1 {
		margin-left: 0;
        text-align: left;
        font-size: 32px;
        margin-bottom: 30px;
        line-height: 33px;
	}

	#transpotext p {
		height: 20px;
        width: 95% !important;
        margin-left: 10px;
        font-size: 12px;
        line-height: 20px;
	}

	#transpotext p::before {
		display: inline-flex;
		content: "";
		background-image: url("./Ativos/Bullet02.svg");
		background-repeat: no-repeat;
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
		margin-top: 0;
		padding-right: 10px;
		vertical-align: -5px;
	}

	#aligntranspo {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        width: 95%;
        height: 100%;
        line-height: 30px;
	}

	#transpoimg {
        height: 100%;
        width: 100%;
        grid-column: 1;
		grid-row: 9 / 11;
        margin-top: 0;
		border-top: solid 5px #71C920;
		border-radius: 2px;
    }

	#transpoimg img {
        width: 100%;
        height: 100%;
    }

	#transpoborder {
		display: none;
	}

	/* TRANSPORTATION */

	#aligngreen {
		display: none;
	}
	
	#greenback {
		background-image: url(./Ativos/Ativo4.png);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 200px;
		
	}

	/* WASTE MANAGEMENT */

	#wasteimg {
		width: 100%;
        height: 100%;
        grid-column: 1;
		grid-row: 13 / 15;
        margin-left: 0;
        margin-top: 0;
		border-top: solid 5px #FF7077;
        border-radius: 2px;
    }

	#alignwaste {
		height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
	}

	#wastetext {
		width: 100%;
        grid-column: 1;
        grid-row: 11 / 13;
        margin-top: 0;
        height: 100%;
        border: none;
    }

	#wastetext h1 {
		width: 90%;
        text-align: left;
        font-size: 32px;
        line-height: 33px;
        margin-bottom: 30px;
	}

	#wastetext p {
		margin-left: 10px;
        width: 95% !important;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }

	#wastetext p::before {
		display: inline-flex;
		content: "";
		background-image: url("./Ativos/Bullet01.svg");
		background-repeat: no-repeat;
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
		margin-top: 0;
		padding-right: 10px;
		vertical-align: -5px;
	}

	/* WASTE MANAGEMENT */

	#banner {
		display: none;
    }


/* FORM */

.contact {
	height: 100%;
	justify-content: flex-start;
}

#form {
	width: 80%;
	height: 85%;
    display: grid;
	grid-template-columns: repeat(1, 100%);
	grid-template-rows: repeat(11, 50px);
    gap: 20px;
    align-items: center;
    justify-content: center;
	
}

#title {
	height: 100%;
    width: 100%;
    grid-column: 1 / 1;
	grid-row: 1;
	text-align: center;
	color: #56352C;
	margin-bottom: 0px;
}

#title h1 {
	font-size: 46px;
}


#fname {
	height: 100%;
    width: 100%;
	text-align: center;
    grid-column: 1;
    grid-row: 3;
	padding-left: 0;
    
}

#lname {
	height: 100%;
	width: 100%;
	text-align: center;
    grid-column: 1;
    grid-row: 4;
	padding-left: 0;
}

#email {
	height: 100%;
	width: 100%;
	text-align: center;
    grid-column: 1;
    grid-row: 5;
	padding-left: 0;
}

#phone {
	height: 100%;
	width: 100%;
	text-align: center;
    grid-column: 1;
    grid-row: 6; 
	padding-left: 0;
}

#textarea {
    width: 100%;
	height: 100%;
	text-align: center;
    grid-column: 1;
    grid-row: 7 / 10;
	padding-top: 0;
	padding-left: 0;
}

#btn {
    grid-column: 1;
    grid-row: 10;
	height: 100%;
    width: 102%;
	margin-left: 0;
	margin-top: 0;
    
}

::placeholder {
	padding-left: 0px;
	padding-top: 20px;
	font-size: 16px;
}

/* FOOTER */

footer {
    display: grid;
	grid-template-columns: repeat(1, 100%);
    width: 100%;
	height: 100%;
}

#flogo {
	background-image: url(./Images/logovertical.svg);
	background-size: 130px 120px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	grid-column: 1;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}


#infos {
    text-align: center;
	grid-column: 1;
	grid-row: 2;
}

#infolocation, #infotext {
	padding-top: 20px;
}

#infos h2 {
	font-size: 20px;
}

#infos p {
	font-size: 11px;
}

#social {
	text-align: center;
	grid-column: 1;
	grid-row: 3;
	width: 100%;
	font-size: 11px;
}

#social img {
	height: 35px;
}
}

/* MOBILE ALL */